@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',  sans-serif;
}

body{
    background-color: #1B1919;
}

/* navbar */

header{
    background-color:#1B1919;
    display: flex;
    max-height: 8vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #E0B6A3;
}
body{
    background-color: #1B1919;
}

#navbar{
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
    opacity: 0.8;
    margin-right: 30px;
}

#logo:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.7s;
}

#cart{
    width: 35px;
    cursor: pointer;
    margin-right: 50px;
}

#cart:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.7s;
}


.menubar li, .menuitem{
    text-decoration: none;
    list-style: none;
    color: white;
    display: inline-block;
    margin-left: 10px;
    align-items: center;
}

li:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.7s;
}

a:hover{
    color: #ff7f50;
    transition: 0.7s;
}

#search{
    height: 30px;
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-right: 30px;
}

 button, #button{
    text-decoration: none;
    color: #1B1919;
    text-decoration: none;
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

button:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.7s;
    background-color: coral;
}

#menuright{
    display: flex;
    align-items: center;
}

/*pagina de apresentação*/

.img-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1200px;
    height: 800px;
    background: #1B1919;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    margin-top: 600px;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #ff6d38;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
      
  /*Card de compras*/

  .cardslider {
    background-color: #222020;
    padding: 10rem;
    padding-top: 3rem;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 2rem;
    font: normal 1rem sans-serif;
}

.card {
    position: relative;
    width: 17rem;
    height: 23rem;
    background-color:#18253c;
    color: #fff;
    border-radius: 1rem;
    border: .1rem solid transparent;
    overflow: hidden;
    box-shadow: 0 .2rem .6rem #0003;
    transition: .5s ease-in-out;
}

.card:hover {
    border: .1rem solid #ff6d38;
    transform: scale(1.05);
}

.card::before, .card::after {
    position: absolute;
    content: "";
    background-color: #ff6d38;
    border-radius: 50%;
    transition: .5s ease-in-out;
    z-index: 100;
}

.card::before {
    top: -6%;
    right: -6%;
    width: 9rem;
    height: 9rem;
}

.card::after {
    bottom: -6%;
    left: -6%;
    width: 5rem;
    height: 5rem;
}

.card:hover::before {
    transform: scale(1.8);
}

.card:hover::after {
    transform: scale(0);
}

.card-content {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 200;
}

.card-img, 
.card-title {
    transform: translateY(4rem);
    transition: .5s ease-in-out;
}

.card-img {
    width: auto;
    height: 9.5rem;
}

.card-title {
    font-size: 1rem;
    text-transform: capitalize;
    transition-delay: .1s;
}

.card-body, 
.card-footer {
    transform: translateY(8rem);
    transition: .5s ease-in-out;
}

.card-body {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition-delay: .2s;
}

.card:hover .card-img,
.card:hover .card-title,
.card:hover .card-body,
.card:hover .card-footer {
    transform: translateY(0);
}

.card-footer {
    transition-delay: .3s;
}

.star {
    font-size: 1.4rem;
    color: gold;
}

.card-price {
    font: bolder 1.5rem sans-serif;
}

.bton {
    border: none;
    outline: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
}

.btn-success {
    background-color: #ff6d38;
    
}

.btn-border {
    border: .1rem solid #ff6d38;
}

/*footer*/

#footer{
  background-color: #1B1919;
  max-width: 100%;
  margin: 0;
  padding: 20px;
}
.logo-footer p{
 color: white;
}

.logo-footer img{
  width: 250px;
}

.footer01{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons{
  gap: 20px;
  display: flex
}

.icons a{
  color: white;
}

.footer2{
  color: white;
  background-color: #222020;
  display: flex;
  align-items: center;
  justify-content: center;
}